<!DOCTYPE html>
<html>
<head>
  <title>AnagramSolver</title>
  <%= stylesheet_link_tag    "anagram_solver/application", media: "all" %>
  <%= javascript_include_tag "anagram_solver/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
